<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Pointer is a social networking application that combines all the great features of other social networking services but combines the gaming experience to provide friends to be competitive.
</p>