<div class="center hero-unit">
  <h1>Pointer</h1>

  <h2>
  	Welcome to Pointer! To get started, click the Sign up now! button!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>